.flying-note-container {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.note-paper {
  background-color: #fffacd;
  padding: 10px;
  border: 1px solid #f0e68c;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8em;
  overflow: hidden;
  position: relative;
}

.note-paper p {
  margin: 0;
  color: #555;
  word-break: break-word;
}

.pin {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: #d3d3d3;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #a9a9a9;
}

.pin::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 5px;
  background-color: #808080;
}
.note-paper::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #fffacd;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
} 